/*
card, text - #1995AD
game-bg - #BCBABE
screen-bg - #F1F1F2
hover - #A1D6E2
congrats-bg - #003B46
*/

html {
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #070404;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #f1f1f2, rgb(200, 201, 207));
}

/* Select game box */
.game-container .select-game h1 {
  color: #1995ad;
}

.game-container .select-game button {
  margin: 10px;
  padding: 10px 30px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(200, 200, 200, 0.8);
  text-transform: capitalize;
  color: #1995ad;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.game-container .select-game button:hover {
  background-color: #a1d6e2;
  /* box-shadow: 2px 2px 5px rgba(230, 250, 103, 0.5); */
  color: white;
}

.game-container .select-game.select-open {
  margin: 100px auto;
  padding: 80px 0;
  text-align: center;
}

.game-container .select-game.select-open button {
  font-size: 1.5rem;
  font-weight: 600;
}

.game-container .select-game.select-closed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 600;
}

.game-container .select-game.select-closed button {
  font-size: 1.2rem;
  font-weight: 500;
}

.game-container .game {
  position: relative;
  display: grid;
  gap: 10px 10px;
  width: 80%;
  margin: 100px auto;
  padding: 5px;
  background-color: transparent;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 600ms;
  -webkit-transition-timing-function: ease-out;
  transition-property: opacity;
  transition-duration: 600ms;
  transition-timing-function: ease-out;
}

.game-container .game-size-0 {
  opacity: 0;
  visibility: hidden;
  /* display: none; */
}

.game-container .game-size-12 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  height: 450px;
  opacity: 1;
  visibility: visible;
}

.game-container .game-size-16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 600px;
  height: 600px;
}

.game-container .game-size-24 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 900px;
  height: 600px;
}

.game-container .game .flip-card {
  justify-self: center;
  align-self: center;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.game-container .game .flip-card .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: #1995ad;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.6);
}

.game-container .game .flip-card .flip-card-front:hover {
  background-color: #a1d6e2;
}

.game-container .game .flip-card .flip-card-front span {
  display: block;
  color: white;

  font-size: 1.5rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.game-container .game .flip-card .flip-card-front span i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-container .game .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.6);
}

.game-container .game .flip-card img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* handle flips */
.game .flip-card {
  background-color: transparent;
  border-radius: 15px;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  border-radius: 15px;
}

.flip-card-front {
  z-index: 400;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flip-card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  z-index: 300;
}

.flip-card.flipped .flip-card-front {
  z-index: 300;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-back {
  z-index: 400;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}

.flip-card.found .flip-card-front {
  z-index: 300;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: none;
}

.flip-card.found .flip-card-back {
  z-index: 500;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  transition: all 0.4s ease-in-out;
}

.flip-card-back img {
  border-radius: 15px;
}

.game .congrat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(241, 241, 242, 0.9);
  /* border-radius: 15px; */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms;
  transition: opacity 600ms;
}

.game.finished .congrat {
  opacity: 1;
  visibility: visible;
  color: rgb(118, 118, 118);
}

.game.finished .congrat h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 3rem;
}
