html {
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #070404;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(200, 201, 207)
  );
}

/* Select game box */
.game-container .select-game h1 {
  color: rgb(124, 3, 49);
}

.game-container .select-game button {
  margin: 10px;
  padding: 10px 30px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(200, 200, 200, 0.8);
  text-transform: capitalize;
  color: rgb(124, 3, 49);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.game-container .select-game button:hover {
  background-color: rgb(124, 3, 49);
  /* box-shadow: 2px 2px 5px rgba(230, 250, 103, 0.5); */
  color: white;
}

.game-container .select-game.select-open {
  margin: 0px auto;
  padding: 80px 0;
  text-align: center;
}

.game-container .select-game.select-open button {
  font-size: 1.5rem;
  font-weight: 600;
}

.game-container .select-game.select-closed {
  margin: 0 auto 50px;
  text-align: center;
}

.game-container .select-game.select-closed button {
  font-size: 1.2rem;
  font-weight: 500;
}

.game-container .game {
  position: relative;
  display: grid;
  gap: 10px 10px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid rgb(124, 3, 49);
  border-radius: 5px;
  background-color: rgba(220, 200, 200, 0.7);
  box-shadow: 5px 5px 10px rgb(134, 124, 124);
}

.game-container .game-size-12 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 600px;
  height: 450px;
}

.game-container .game-size-16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 600px;
  height: 600px;
}

.game-container .game-size-24 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 900px;
  height: 600px;
}

.game-container .game .flip-card {
  justify-self: center;
  align-self: center;
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.game-container .game .flip-card .flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgb(124, 3, 49);
}

.game-container .game .flip-card .flip-card-front:hover {
  background-color: rgb(164, 43, 89);
}

.game-container .game .flip-card .flip-card-front span {
  display: block;
  color: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.game-container .game .flip-card .flip-card-front span i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-container .game .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.game-container .game .flip-card img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* handle flips */
.game .flip-card {
  background-color: transparent;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 400;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.flip-card-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  z-index: 300;
}

.flip-card.flipped .flip-card-front {
  z-index: 300;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-card.flipped .flip-card-back {
  z-index: 400;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}

.flip-card.found .flip-card-front {
  z-index: 300;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: none;
}

.flip-card.found .flip-card-back {
  z-index: 500;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  transition: all 0.4s ease-in-out;
}

.game .congrat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(220, 220, 220, 0.7);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.game .congrat h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game.finished .congrat {
  opacity: 1;
  visibility: visible;
  color: rgb(124, 3, 49);
}
